@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;500;700;800&family=Righteous&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Righteous', cursive;
}

.hide {
  display: none;
}