<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<title>日々の記録追加 | My Health</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="logo navbar-brand" href="base.html">My Health</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              山田太郎 さん
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="base.html">基本情報</a></li>
              <li><a class="dropdown-item" href="../login.html">ログアウト</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.container -->
  </nav>

  <div class="container mt-3">
    <h1 class="mb-4">日々の記録追加</h1>
    <form action="" method="post">
    <div class="row">
        <div class="col-12 mb-3">体重: <input name="weight" type="number" value="67.5" step="1" min="1" max="300"> kg</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">ウォーク: <input name="walk" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">ジョギング: <input name="jogging" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">プール: <input name="pool" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">筋トレ: <input name="training" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">球技: <input name="ball" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div class="col-6 col-md-4 col-xl-2 mb-3">その他: <input name="other" type="number" value="0" step="1" min="0" max="600"> 分</div>
        <div>
          <input class="btn btn-primary" type="submit" value="保存">
          <a class="ms-2 btn btn-secondary" href="record.html">キャンセル</a>
        </div>
      </div><!-- /.row -->
    </form>
  </div><!-- /.container -->

<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
</body>
</html>