<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<title>新規登録 | My Health</title>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form action="" method="post">
      <h1 class="logo text-center mb-3 fw-normal">My Health</h1>
      <h2 class="text-center">新規登録</h2>
      <div class="alert alert-danger" role="alert">
          すでに登録済みのメールアドレスです。<br>
          メールアドレスが未入力です。<br>
          パスワードが未入力です。<br>
          確認用パスワードが一致していません。<br>
      </div>

      <div class="form-floating">
        <input type="text" name="email" class="form-control rounded-0 rounded-top" id="floatingInput" placeholder="メールアドレス">
        <label for="floatingInput">メールアドレス</label>
      </div>
      
      <div class="form-floating">
        <input type="password" name="loginPass" class="form-control border-top-0 rounded-0" id="floatingPassword" placeholder="パスワード">
        <label for="floatingPassword">パスワード</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" name="confPass" class="form-control border-top-0 rounded-0 rounded-bottom" id="floatingPassword2" placeholder="パスワード(確認用)">
        <label for="floatingPassword2">パスワード(確認用)</label>
      </div>

      <input class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="登録">
      
      <a class="w-100 btn btn-lg btn-secondary mb-3" href="login.html">ログイン</a>
      <p class="text-center text-muted">&copy; Somebody Somewhere</p>
      </form>
    </div>
  </div>
</div><!-- /.container -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
</body>
</html>